body {
  header {
   .navbar-h1, .navbar-inner svg  {
      color: var(--background-primary);
    }
  }

  .filetree-sidebar {
    background: var(--background-primary);
  }

  #search-results .searchresult {
    background-color: var(--background-primary);
    border: 1px solid var(--background-secondary);
  }
}
